<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test-suite">
	<test name="globalization-test-automation">
		<classes>
		    <class
				name="com.dmi.globalization.execution.Driver" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
